html{
    
}

body{
    font-family: 'Raleway'
}

.introContainer{

    height: 800px;
    background-color: grey;
}


.ExperienceContainer{
    display: flex;
    background-color: lightgray;
    height: 400px;
    flex-direction: row;


}

.ExperienceContainer text{
    color:red;
}


.planContainer{

    height: 400px;
    background-color: darkgrey;
}