

body{
    font-family: 'Raleway';
    background: linear-gradient(180deg, #B1D2FB 0%, #E0F3FF 100%);
}

.bg-light{
    background: linear-gradient(180deg, #B1D2FB 0%, #D0E9FF 100%);
}

.navbar-light .navbar-nav .nav-link{
    color:#4F2876;
}

.navbar-light .navbar-nav .active>.nav-link{
    color:#4F2876;
}

.cartandText{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}



.jumbotron{
    margin: 0;
    background-size: cover;
    background-image: url("../Images/What\ is\ Butterfly\ World.png");
    background-repeat: no-repeat;
    height: calc(100vh - 25px);
    display: flex;
    align-items: center;
    /*justify-content: center;*/
}
 
/*.jumboCopy {
   
    color: white; 
    text-align: center !important;
  }*/



  #buyTicketsHeroImage{
    height: 960px;
  }







h1{
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: #EDD597;
}

.introContainer{

    height: 1200px;
    background-color: grey;
}


.ExperienceContainer{
    display: flex;
    background-color: lightgray;
    height: 600px;
    flex-direction: row;
    margin: 0 auto;


}




.leftSide{
    display:flex;
    flex-direction: column;
    width: 50%;
    
}

.leftSideText{
    
    color: white;
    font-weight: 400; 
    font-size: 40px;
    font-family: 'Barlow';
    text-align: center;
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.btn-primary{
    margin-top: 40px;
    align-self: center;
    background: #52BDD9;
    border-radius: 5px;
    width:180px;
    font-weight: 700;
    font-family: 'Barlow';
    
}


.ExperienceContainer .leftSide{
    background: linear-gradient(180deg, #7E53A8 39.58%, #9771BD 100%);
}

.rightSide{
    display:flex;
    flex-direction: column;
    width: 50%;
    
    
}

.rightSideText{
    
    color: #3F205E;
    font-weight: 400; 
    font-size: 40px;
    font-family: 'Barlow';
    text-align: center;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
}


.picPlaceholder{
    width:100%;
    height: 600px;
}

.planContainer{
    display: flex;
    height: 600px;
   
    flex-direction: row-reverse;
}

.planContainer .rightSide{

    background: linear-gradient(180deg, #B1D2FB 39.58%, #D2EBFF 100%);
    
    
}


.cardsContainer{
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 250px;
    background-color: white;
}

.card{
    margin-top: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    text-align: center;
    width: 350px;
    height: 550px;
    font-family: 'Barlow';
    color:black;
    font-size: 24px;
}


.card-title1{
    font-size: 36px;
    color: #85B7EF;
    font-weight: 700;
    font-family: 'Raleway';
}
.card-title2{
    font-size: 36px;
    font-weight: 700;
    color:#4F2876;
    font-family: 'Raleway';
}
.card-title3{
    font-size: 36px;
    color: #52BDD9;
    font-weight: 700;
    font-family: 'Raleway';
}

.card .btn-primary{

    margin-top: 20px;
}

h2{
    margin-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 60px;
    color: #3F205E;
    
}

.locationContainer{
    display: flex;
    flex-direction: row;
    height: 600px;
    background: linear-gradient(180deg, #7E53A8 39.58%, #9771BD 100%);
}
.locationImage{
    width:60%;
}

h6{
    color: #EDD597;
    font-size: 60px;
}

.locationText{
    padding-top: 50px;
    width: 40%;
    color: white;
    font-size: 40px;
}

.card-img-top{
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

footer{
    height: 1125px;
    font-weight: 600;
    font-family: 'Barlow';
    
    font-size: 28px;
    
}

.footerTextLeft{
    display: flex;
    flex-direction: column;
    width: 300px;


}

.socialMediaGroup{

    padding-top: 30px;
}


.footerTextRight{
    width: 500px;
}


.footerContainer{
    display: flex;
    flex-direction: row;
    color: #3F205E;
    margin:0;
    margin-top: 20px;
    gap: 350px;
    position: relative;
    top: -100%;
    justify-content: center;

}

.logoBW{
    width: 200px;
}

.footerImage{
    width:100%;
}

h3{
    font-size: 44px;
    font-weight: 700;
}

.logoFooter{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

/* END OF HOMEPAGE CSS*/

/* START OF ADMISSIONS PAGE CSS */

.admissionsContainer{
    height: 100px;
}




/* END ADMISSIONS CSS */