.introContainer{

    height: 800px;
    background-color: grey;
}


.ExperienceContainer{
background-color: lightgray;
height: 400px;

}

.planContainer{

    height: 400px;
    background-color: darkgrey;
}